<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Monitor</title>
    <link rel="stylesheet" href={{url_for('static',filename='modelMonitor.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    
</head>
<body>
    <section id="about">
        <h2>MLflow</h2>
        <p class="about-content" style="text-align: justify;">
            The parameters for the LGBM classifier have been changed.
            To check the parameter logging, evaluation metrics etc. and to monitor the model,
            follow <a href="http://35.222.184.89"> this link</a>.<br>
            <b style="color:red; font-size:large; ">Caution: </b>The link is password protected due to security resasons.
            If you want to access the link kindly contact the  <a href="mailto: ritwikdtu@gmail.com">admin</a>.
        </p>
    </section>
    <section id="dashboard">
        <h2>Want to Experiment?</h2>
        <p>
            If you think your custom parameters resulted in a model with higher accuracy
            and want to apply it to our dataset, you can download it from <a href="https://drive.google.com/file/d/1M5smfDcgfZNGd1OnINBvOMZdL5XoVc8U/view?usp=sharing" style="color: black; font-weight: bold;" download="img.jpg">here</a>.
        </p>
        
        
    </section>
        

    <footer>
        <p>
            Developed with ❤️ by Ritwik
        </p>
        <div class="media-icons">
            <a href="https://www.linkedin.com/in/ritwik-shekhar-5b9a721a0"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/RitwikDTU"><i class="fab fa-github"></i></a>
        </div>
    </footer>


</body>
</html>
