<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=predict_.css />
    <title>Prediction</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 22px; ">Prediction</h1>
    <div class="rainyimg">
        <img src="../static/happy.jpg"  style="height: 550px; width: 550px; margin-left: 30%">
    </div>
    <div>
        <h2><center> Hurray! This employee is most probably staying in this company </center></h2>
   </div>
</body>
</html>